@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
}

header {
    padding: 0; 
}

/** When screen size if greater than 700px, set font size to 2.6vh */
@media screen and (min-width: 701px) {
    #greeting {
        margin: 0.86vh;
        font-size: 2.6vh;
        padding: 0.86vh;
    }
}

/** When screen size if less than 700px, set font size to 1.8vh */
@media screen and (max-width: 700px) {
    #greeting {
        margin: 0.86vh;
        font-size: 1.8vh;
        padding: 0.86vh;
    }
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

/** When screen size if greater than 900px*/
@media screen and (min-width: 901px) {
    #column-map {
        height:100%;
        float: left;
        width: 75%;
    }
    #column-places {
        height:100%;
        float: left;
        width: 25%;
    }
}

/** When screen size if less than 900px*/
@media screen and (max-width: 900px) {
    #column-map {
        height:50%;
        float: left;
        width: 100%;
    }
    #column-places {
        height:100%;
        float: left;
        width: 100%;
    }
}

#results {
    padding: 0;
    margin: 0;
    height: 80%;
    overflow-y: scroll;
    padding-right: 0.87vw;
}

.row {
    box-sizing: border-box; 
    display: flex;
    transition: 0.3s; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.card.horizontal {
    margin: 0.86vh;
}

#button-bar {
    padding: 0.86vh;
    text-align: center;
}

.btn-floating {
    margin: 0.86vh; 
    transition: background-color 0.3s;
}

.card-content {
    text-align: center;
}

#place-name {
    font-weight: bold;
}

.card .card-content p {
    font-size: 1.2vh; 
}

img {
    width: 90%; 
}
