#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding:0; 
}

#greeting {
    margin: 0.86vh;
    font-size: 2.6vh;
    padding:0.86vh;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

#column {
    height:100%;
    float: left;
}

#results {
    padding: 0;
    margin: 0;
    height: 80%;
    overflow-y: scroll;
    padding-right: 0.87vw;
}

.row {
    box-sizing: border-box; 
    display: flex;
    transition: 0.3s; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.card.horizontal {
    margin: 0.86vh;
}

#button-bar {
    padding: 0.86vh;
    text-align: center;
}

.btn-floating {
    margin: 0.86vh; 
    transition: background-color 0.3s;
}
