#map {
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding:0; 
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

pac-input {
    width: 50%;
    background: white;
}

#column {
    height:100%;
    float: left;
}

h2 {
    font-size: 18px;
    margin: 5px 0 5px 5px;
}

#results {
    padding: 0;
    margin: 0;
    height: 80%;
    overflow-y: scroll;
    padding-right: 15px;
}

.row {
    box-sizing: border-box; 
    display: flex;
    transition: 0.3s; 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.card.horizontal {
    margin: 10px;
}
